.Chat-main
  .Chat-main__group
    .Chat-main__group-info
      .Chat-main__group-info--group
        = @group.name
      %ul.Chat-main__group-info--member
        Menber:
        %li.Chat-main__group-info--membername
          - @group.users.each do |user|
            = user.name
    = link_to "Edit", edit_group_path(@group.id),class: "Chat-main__group-info--edit" 
  .Chat-main__message-list
    = render @messages
    .Message-box
      .Message-box__info
        .Message-box__info--name
          masa
        .Message-box__info--date
          2020/08/20(Thu) 08:00
      .Message-box__message
        %p.Message-box__message--text
          おはよう!
        
  .Message-box__message-form
    = form_with model: [@group, @message], html: {class: "Message-form"}, local: true do |f|
      .Message-form__box
        = f.text_field :content, class: 'Message-form__text', placeholder: 'type a message'
        = f.label :image, class: 'Message-form__image' do
          = icon('far', 'image', class: 'Message-form__icon')
          = f.file_field :image, class: 'Message-form__file'
      = f.submit 'Send', class: 'Message-form__submit'